.login
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100%
  background #172A3A
  form
    background #2176AE
    width 60%
    display flex
    flex-direction column
    justify-content space-around
    padding-left 1em
    padding-right 1em
    padding-bottom 1em
    .field
      display flex
      flex-direction column
      margin-bottom 1em
      label
        font-weight bold
